---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Pagina Libros.">


	<main>
	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="../img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="#home">Home</a></li>
						<li><a href="#about">Famoso</a></li>
						<li><a href="#fact">Caracteristicas</a></li>
						<li><a href="#price">Libros</a></li>
						<li><a href="#course">Informacion</a></li>

					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header -->


	<!-- start banner Area -->
	<section class="banner-area" id="home">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-start">
				<div class="banner-content col-lg-7">

					<h1 class="text-uppercase">
						Libros de Misterio
					</h1>
					<p class="text-white pt-20 pb-20">
						"Sumérgete en un mundo de intrigas y secretos que te mantendrán al borde del misterio. Descubre
						emocionantes historias
						que desafiarán tu mente y cautivarán tu imaginación."
					</p>
					<a href="#" class="primary-btn text-uppercase">Ver mas</a>
				</div>
				<div class="col-lg-5 banner-right">
					<img class="img-fluid" src="/src/img/header-img.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start about Area -->
	<section class="section-gap info-area" id="about">
		<div class="container">
			<div class="single-info row mt-40 align-items-center">
				<div class="col-lg-6 col-md-12 text-center no-padding info-left">
					<div class="info-thumb">
						<img src="/src/img/libro-arthur.jpg" class="img-fluid info-img" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 no-padding info-rigth">
					<div class="info-content">
						<h2 class="pb-30">Libro mas famoso</h2>
						<h5>
							"El sabueso de los Baskerville" de Sir Arthur Conan Doyle
						</h5>
						<br>
						<p>
							"Adéntrate en el misterioso y sobrenatural mundo de Sherlock Holmes con 'El sabueso de los
							Baskerville' de Sir Arthur
							Conan Doyle. Esta obra maestra del suspense sigue al astuto detective y su leal compañero,
							el Dr. John Watson, mientras
							investigan un escalofriante asesinato en los sombríos páramos de Dartmoor. La leyenda de un
							sabueso demoníaco y la
							maldición de los Baskerville tejen una trama de intriga y suspense. Prepárate para una
							experiencia inolvidable en este
							clásico intemporal que ha cautivado a lectores de todas las edades."
						</p>
						<br>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End about Area -->

	<!-- Start fact Area -->
	<section class="fact-area relative section-gap" id="fact">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-40 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Caracteristicas que nos hacen unicos</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End fact Area -->

	<!-- Start counter Area -->
	<section class="counter-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-counter">
						<h1 class="counter">483</h1>
						<p>Emocionantes libros de misteio</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-counter">
						<h1 class="counter">36</h1>
						<p>Autores destacados</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-counter">
						<h1 class="counter">758</h1>
						<p>Paginas de intriga</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-counter">
						<h1 class="counter">95</h1>
						<p>Satisfaccion de lectores</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end counter Area -->



	<!-- End price Area -->
<section class="course-area section-gap" id="course">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Libros Destacados Disponibles</h1>
                    <p>Para aquellos que aman sumergirse en intrigantes misterios.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-course item">
                    <img class="img-fluid" src="/src/img/book1.jpg" alt="">
                    <p class="sale-btn">A la Venta</p>
                    <div class="details">
                        <a href="#">
                            <h4>El Sabueso de los Baskerville <span class="price float-right">$19.99</span></h4>
                        </a>
                        <p>
                            Sumérgete en el clásico misterio de Sir Arthur Conan Doyle mientras Sherlock Holmes
                            investiga un asesinato en los páramos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-course item">
                    <img class="img-fluid" src="/src/img/book2.jpg" alt="">
                    <p class="sale-btn">A la Venta</p>
                    <div class="details">
                        <a href="#">
                            <h4>Asesinato en el Orient Express <span class="price float-right">$24.99</span></h4>
                        </a>
                        <p>
                            Únete a Hercule Poirot en esta obra maestra de Agatha Christie, resolviendo un
                            misterioso
                            asesinato a bordo de un lujoso tren.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-course item">
                    <img class="img-fluid" src="/src/img/book3.jpg" alt="">
                    <p class="sale-btn">A la Venta</p>
                    <div class="details">
                        <a href="#">
                            <h4>El Código Da Vinci <span class="price float-right">$29.99</span></h4>
                        </a>
                        <p>
                            Descifra los enigmas de Dan Brown en esta emocionante búsqueda de secretos ocultos y
                            misterios históricos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
								<p class="footer-text">

								</p>								
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
	</footer>
	<!-- End footer Area -->

	<script src="/src/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="/src/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="/src/js/easing.min.js"></script>
	<script src="/src/js/hoverIntent.js"></script>
	<script src="/src/js/superfish.min.js"></script>
	<script src="/src/js/jquery.ajaxchimp.min.js"></script>
	<script src="/src/js/jquery.magnific-popup.min.js"></script>
	<script src="/src/js/owl.carousel.min.js"></script>
	<script src="/src/js/jquery.sticky.js"></script>
	<script src="/src/js/jquery.nice-select.min.js"></script>
	<script src="/src/js/parallax.min.js"></script>
	<script src="/src/js/waypoints.min.js"></script>
	<script src="/src/js/jquery.counterup.min.js"></script>
	<script src="/src/js/mail-script.js"></script>
	<script src="/src/js/main.js"></script>
	</main>
</Layout>

