---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zxx" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/src/img/fav.png">
		<meta name="generator" content={Astro.generator} />

		<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->

	<title>{title}</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/src/css/linearicons.css">
	<link rel="stylesheet" href="/src/css/font-awesome.min.css">
	<link rel="stylesheet" href="/src/css/bootstrap.css">
	<link rel="stylesheet" href="/src/css/magnific-popup.css">
	<link rel="stylesheet" href="/src/css/nice-select.css">
	<link rel="stylesheet" href="/src/css/animate.min.css">
	<link rel="stylesheet" href="/src/css/owl.carousel.css">
	<link rel="stylesheet" href="/src/css/main.css">


	</head>
	<body>
		<slot />
	</body>
</html>

